p{
	font-size: 15px;
	font-family: Verdana;
	font-weight: bold;
	position: relative;
	left: 100px;
}

.gallery{
	width: 950px;
	margin: auto;
}

.gallery ul{
	 list-style-type:none;
}
.gallery li{
	float: left;
	margin: 10px;
	-webkit-filter: brightness(0.6);
}

.gallery li p{
	float: left;
	margin: 0px;
	-webkit-filter: brightness(0.6);
    overflow: auto;
	color:white;
}
