p{
	font-size: 15px;
	font-family: Verdana;
	font-weight: bold;
	position: relative;
	left: 50px;
}

.gallery{
	width: 950px;
	margin: auto;
}

.gallery ul{
	list-style: none;
}
.gallery li{
	float: left;
	margin: 10px;
}